h3 {
    color: burlywood;
}
q {
    font-size: x-small
}
i {
    font-family: fantasy;
    /* border robi ohranicenie elementu */
    border: 3px solid black;
    /* padding urcenie vzdialenosti jednotlivych atributov alebo elementov */
    /* v tomto pripade padding urcuje vzdialenost textu od bordu  */
    padding: 10px;
    /* margin definuje vzdialenost navonok */
    /* v tomto pripade vzdialenost borderu a textu od predchadzajuceho elementu */
    margin: 50px;
}